.header {
  display: flex;
  align-items: center;
  //   box-shadow: 0px 8px 7px -4px rgba(0, 0, 0, 0.2);
  height: 80px;
}

.appBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
