//Colors
$accent-color: #5ece7b;
$primary-text-color: #1d1f22;
$primary-white-color: #ffffff;
// -------other------
$background-color-overlay: rgba(57, 55, 72, 0.22);
$button-background-checked: #a6a6a6;
// -------fonts------
$main-font: 'Raleway', sans-serif;
$second-font: 'Roboto', sans-serif;
$select-font: 'Source Sans Pro', sans-serif;
$attribute-title-font: 'Roboto Condensed', sans-serif;
//Transition
$primary-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
